body{
    font-family:'Times New Roman', Times, serif;
    background-color:#F5F3FF;
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.container{
    width: 400px;
    background: #FFFFFF;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.2);
}

h1{
    text-align: center;
    color: #333;
}

.input-area{
    display: flex;
    gap: 10px;
}

input{
    flex: 1;
    padding: 10px;
    font-size: 16px;
    color: #1F2937;
}

button{
    padding: 10px 15px;
    cursor: pointer;
    border: none;
    background: #7C3AED;
    color: white;
    border-radius: 5px;
}

button:hover{
    background: #6D28D9
}

ul{
    list-style: none;
    padding: 0;
    margin-top: 20px;
    color: #1F2937;
}

li{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    margin-bottom: 10px;
    background: #F5F3FF;
    border-radius: 5px;
}
